* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color:#34495e;
}

h3 {
    font-weight: 100;
}

/* 引用样式 */
blockquote {
    background: #f9f9f9;
    border-left: 10px solid #f29d4c;
    margin: 1.5em 10px;
    padding: .5em 10px;
    quotes: "\201C""\201D";
}

blockquote:before {
    color: #9ba646;
    content: open-quote;
    font-size: 4em;
    line-height: .1em;
    margin-right: .25em;
    vertical-align: -.4em;
}

blockquote p {
    display:inline;
}

pre {
    line-height: 26px;
}

/* LAYOUT CSS */
.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

#layout {
    padding: 0;
}

.header {
    text-align: center;
    top: auto;
    margin: 3em auto;
}

.sidebar {
    background: rgb(61, 79, 93);
    color: #fff;
}

.brand-title,
.brand-tagline {
    margin: 0;
}
.brand-title {
    text-transform: uppercase;
}
.brand-tagline {
    font-weight: 300;
    color: rgb(176, 202, 219);
}

.footer-links div{margin: 10px 0; text-align: right;}
.nav-list {
    margin: 30px 0;
    padding: 0;
    list-style: none;
}
.nav-list li {
    display: inline-block;
    *display: inline;
    zoom: 1;
}
.nav-list li:not(:first-child):before {
    content: " / ";
}
.nav-list li {
    text-decoration:none;
    color:#777;
}
.nav-list li a{
    color: #ccc;
}

.nav-list li a:hover,
.nav-list li a:focus {
    color: #fdf6e3;
    text-decoration:underline;
}

.content-subhead {
    text-transform: uppercase;
    color: #aaa;
    border-bottom: 1px solid #eee;
    padding: 0.4em 0;
    font-size: 80%;
    font-weight: 500;
    letter-spacing: 0.1em;
}

.content {
    padding: 2em 1em 0;
}

.post {
    padding-top: 1em;
    padding-bottom: 1em;
    border-bottom: #f8f5ec 1px dashed;
}
.post-title {
    font-size: 2em;
    color: #222;
    margin-bottom: 0.2em;
}

.post-title:hover:before{right:0;left:0}
.post-link{
    display:inline-block;
    vertical-align:middle;
    transform:translateZ(0);
    backface-visibility:hidden;
    box-shadow:0 0 1px transparent;
    position:relative;
    overflow:hidden;
    font-family: Athelas,STHeiti,Microsoft Yahei,serif;
    font-weight: 400;
}
.post-link:before{
    content:'';
    position:absolute;
    z-index:-1;
    height:2px;
    bottom:0;
    left:51%;
    right:51%;
    background:#c05b4d;
    transition-duration:.2s;
    transition-property:right,left;
    transition-timing-function:ease-out;
}
/*.post-link.active:before,.post-link:active:before,.post-link:focus:before,*/
.post-link:hover:before{
    right:0;left:0
}

.post-avatar {
    border-radius: 50px;
    float: right;
    margin-left: 1em;
}
.post-description {
    font-family: Georgia, "Cambria", serif;
    color: #34495e;
    line-height: 1.8em;
}
.post-meta {
    color: #8a8a8a;;
    font-size: 90%;
    margin: 0;
    padding-left: 4px;
    font-family: source sans pro,helvetica neue,Arial,sans-serif;
    -moz-osx-font-smoothing:grayscale;
    -webkit-font-smoothing:antialiased;
}
.tag {
    margin: 0 0.1em;
    padding: 0.3em 1em;
    color: #fff;
    font-size: 80%;
    background: #F0AA1D;
    border-radius: 5px;
}

.post-images {
    margin: 1em 0;
}
.post-image-meta {
    margin-top: -3.5em;
    margin-left: 1em;
    color: #fff;
    text-shadow: 0 1px 1px #333;
}

.footer {
    padding: 1em 0;
}
.footer a {
    color: #ccc;
    font-size: 80%;
}
.footer .pure-menu a:hover,
.footer .pure-menu a:focus {
    background: none;
}

@media (min-width: 48em) {
    .content {
        padding: 2em 3em 0;
        margin-left: 25%;
    }

    .header {
        margin: 80% 2em 0;
        text-align: right;
    }

    .sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
    }

    .footer {
        text-align: center;
    }
}

code {
    font-size: 0.9em;
    border-radius:4px;
    font-family:Consolas,Monaco,Menlo,monospace;
    color: #c7254e;
    background-color: #f8f5ec;
}

/* ---- */
.title-pic{
    height: 160px;
    width: auto;
    background-color: #00aa00;
}

.admin-tool-box {
    position: -webkit-sticky;  
    position: sticky;
    width: 60px;
    top: 10em;
    margin-left: 95%;
}

.admin-tool-box ul{
    list-style: none;
    line-height: 40px;
}

.content-common-link a:link,.content-common-link a:visited,
.content-common-link a:hover,.content-common-link a:active{
    color: #F0AA1D;
}

.post-description a{
    color: #c7254e;
}