body {
  background: #F2F4F6;
  color: #454034;
  font: 15px / 1.8 'Droid Sans', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  -webkit-text-size-adjust: none; }

  .layout {
    margin: 0 auto; }

    .mod-header {
      background: #fff;
      border-bottom: 1px solid #eee;
      padding-top: 10px; }
      .mod-header .site-title {
        height: 70px;
        line-height: 70px;
        text-align: center;
        font-weight: 400;
        margin: 0;
        font-size: 3em;
        font-family: 'Josefin Sans', sans-serif; }

.mod-nav {
  padding: 10px 0;
  border-top: 1px solid #F2F4F6;
  text-align: center; }
  .mod-nav .site_nav a {
    display: inline-block;
    padding: 10px 20px 5px 20px;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 1.1em;
    line-height: 1.1em; }
    .mod-nav .site_nav a.selected {
      color: #d23600; }
  .mod-nav .site_nav :first-child a {
    color: #333 !important; }

@media (min-width: 768px) {
  .farBox_nav .site_nav_wrap {
    text-align: center;   }
    .farBox_nav .site_nav {
      display: inline-block;
      margin: 0 auto;
      float: none;   }
}

.mod-banner {
  position: relative;
  height: 500px; }
  .mod-banner .banner-title {
    padding-top: 60px;
    height: 440px;
    background: rgba(0, 0, 0, 0.3);
    color: #fff;
    position: absolute;
    z-index: 10;
    text-align: center;
    width: 100%;
    top: 0;
    font-weight: 400;
    font-family: 'Julius Sans One', sans-serif; }
    .mod-banner .banner-title h3 {
      font-size: 24px;
      display: inline-block;
      padding: 0 5px 20px;
      margin-bottom: 25px;
      border-bottom: 1px solid #fff; }
      .mod-banner .banner-title p {
        font-size: 16px; }
        .mod-banner .banner-title p span {
          padding-left: 10px; }
  .mod-banner .banner {
    height: 500px;
    width: 100%;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover; }

#main {
  position: relative;
  z-index: 21; }

  .post-list {
    margin-top: -230px; }

    .mod-post {
      padding: 30px;
      background: #fff;
      margin-bottom: 30px; }
      .mod-post .post-title {
        font-size: 2.3em;
        line-height: 1.2;
        margin-top: 0.3em;
        margin-bottom: 0.8em; }
        .mod-post .post-meta {
          float: left;
          width: 80px;
          text-align: center;
          padding-right: 20px; }
          .mod-post .post-date span {
            display: block; }
      .mod-post .post-d {
        font-size: 30px; }
        .mod-post .post-main {
          overflow: hidden; }
          .mod-post .post-info {
            text-align: right;
            color: #999;
            font-size: 12px;
            padding-top: 20px; }
            .mod-post .post-info .fa {
              margin-right: 6px; }
              .mod-post .post-info .tag {
                padding: 5px 15px;
                display: inline-block;
                background: #f4f6f8;
                border-radius: 4px;
                margin-right: 10px; }

.detail-page {
  padding-top: 50px; }

  .mod-article {
    background: #fff;
    padding: 30px; }
    .mod-article .article-title {
      font-size: 2.8em;
      margin-bottom: 10px;
      line-height: 1.2; }
      .mod-article .post-metas {
        margin-bottom: 2em;
        color: #999;
        font-size: 12px; }
        .mod-article .post-metas span {
          margin-right: 10px; }

.mod-side {
  padding-left: 20px; }
  .mod-side .side-box {
    background: #fff;
    margin-bottom: 30px; }

.archive-title {
  font-size: 28px;
  margin-top: 50px;
  height: 90px;
  line-height: 90px;
  font-weight: normal;
  text-align: center; }

  .mod-archive {
    background: #fff;
    padding: 50px 30px 30px 30px;
    margin-bottom: 35px; }
    .mod-archive .archive-year {
      font-size: 28px;
      margin-top: 30px;
      margin-bottom: 5px; }
      .mod-archive .archive-list {
        margin-bottom: 70px; }
        .mod-archive .post-item {
          padding: 15px 0;
          font-size: 16px;
          border-bottom: 1px dashed #eee; }
          .mod-archive .post-item .date {
            font-size: 13px;
            color: #777;
            margin-right: 10px; }

.paginator .pre, .paginator .next {
  display: inline-block;
  padding: 8px 15px;
  background: #fff; }
  .paginator .next {
    float: right; }

.mod-footer {
  text-align: center;
  padding: 30px 0 10px;
  background: #fff;
  margin-top: 30px;
  font-size: 14px; }
  .mod-footer .fa {
    font-size: 20px;
    margin: 0 12px;
    color: #999; }
    .mod-footer .fa:hover {
      color: #58b798; }
  .mod-footer .copyright {
    padding-top: 20px;
    color: #999;
    font-family: Lato, sans-serif; }
    .mod-footer .copyright a {
      margin-right: 7px; }
  .mod-footer .my_socials {
    display: inline; }

@media print, screen and (max-width: 35.5em) {
  .mod-post .post-title {
    font-size: 2.1em;   }
    .mod-post .post-meta {
      display: none;   }
  .mod-article .article-title {
    font-size: 2.5em;   }
}