{{ define "default/index.html" }}

    {{ template "default/tpl_header.html" . }}

<div id="main" class="main">
<div class="pure-g">
    <div class="pure-u-23-24 pure-u-md-17-24 layout">
        <div class="detail-page">
            {{ range .Data.posts }}
            <div class="mod-article mod-post">
                <div class="post-meta">
                    <time datetime="{{.CreatedAt}}"  pubdate="pubdate" class="post-date"><span class="post-m">{{TimeMonth .CreatedAt}}</span>
                        <span class="post-d">{{TimeDay .CreatedAt}}</span>
                        <span class="post-y">{{TimeYear .CreatedAt}}</span>
                    </time>
                </div>

                <div class="post-main">
                    <h2 class="article-title">{{ .Title }}</h2>

                    <div class="post-metas">
                        <span class="count"><i class="fa fa-book"></i>
                                {{range .Tags}}
                                <span><a href="/tags/{{.}}">{{.}}</a></span>
                                {{end}}
                        </span>

                    </div>

                    <div class="entry markdown"><p class="md_block last_md_block_in_page">
                        <span class="md_line">{{ .Content }}</span>
                        {{.CreatedAt}}
                    </p></div>

                </div>


            </div>
            {{ end }}
        </div>

    </div>

</div>
</div>
    {{ template "default/tpl_footer.html" . }}
{{ end }}