{{ define "crude/_footer.html" }}
<div class="pure-menu pure-menu-horizontal">
    <div>
        <ul>
            <li class="pure-menu-item"><a href="/pages/about" class="pure-menu-link">About</a></li>
            <li class="pure-menu-item"><a href="/pages/links" class="pure-menu-link">Links</a></li>
            <li class="pure-menu-item"><a href="/pages/other" class="pure-menu-link">Other</a></li>
            <li class="pure-menu-item"><a href="/users/login" class="pure-menu-link">Login</a></li>
        </ul>
    </div>
    <div>
        <a href="https://status.something.vip/service/SomethingBlog" target="_blank">
            <img
                src="https://img.shields.io/badge/dynamic/json?color=blue&label=%20Service%20Uptime&query=%24.online_7_days&url=https%3A%2F%2Fstatus.something.vip%2Fapi%2Fservices%2F14&suffix=%">
        </a>
    </div>
</div>
{{ end }}