{{ define "crude/_footer.html" }}
<div class="pure-menu pure-menu-horizontal">
    <ul>
        <li class="pure-menu-item"><a href="{{.Site.Domain}}/pages/about" class="pure-menu-link">About</a></li>
        <li class="pure-menu-item"><a href="{{.Site.Domain}}/pages/link" class="pure-menu-link">Link</a></li>
        <li class="pure-menu-item"><a href="{{.Site.Domain}}/pages/other" class="pure-menu-link">Other</a></li>
        <li class="pure-menu-item"><a href="/users/login" class="pure-menu-link">Login</a></li>
    </ul>
</div>
{{ end }}