{{ define "crude/_header.html" }}
<meta charset="utf-8">
<title>{{ .Title }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="{{ .Description }}">
<link rel="stylesheet" href="/public/crude/css/pure-min.css">
<link rel="stylesheet" href="/public/crude/css/grids-responsive-min.css">
<link rel="stylesheet" href="/public/crude/css/style.css">
<link rel="stylesheet" href="/public/crude/css/fmt.css">
<link rel="stylesheet" href="/public/crude/css/page.css">
<link rel="stylesheet" href="/public/crude/css/prism.css">
<script src="/public/crude/js/prism.js"></script>
{{end}}