{{ define "crude/index.html" }}
<!doctype html>
<html lang="zh">

<head>
    {{template "crude/_header.html" .}}
</head>

<body class="line-numbers">
    <div id="layout" class="pure-g">
        <div class="sidebar pure-u-1 pure-u-md-1-4">
            {{template "crude/_sidebar.html" .}}
        </div>

        <div class="content pure-u-1 pure-u-md-3-4">
            {{if .IsLoggedIn}}
            <div class="admin-tool-box">
                <a class="pure-button pure-button-primary" href="/admin/posts/form" title="添加内容">
                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                </a>
            </div>
            {{end}}
            <div>
                <!-- A wrapper for all the blog posts -->
                <div class="posts">
                    <h1 class="content-subhead">Pinned Post</h1>

                    <!-- A single blog post -->
                    {{ range .Data.pinnedPosts }}
                    <section class="post">
                        <header class="post-header">
                            <h2 class="post-title"><a class="tag tag-pinned-posts">*</a>{{.Title}}</h2>
                            <p class="post-meta">
                                {{.CreatedAt}}
                                {{if $.IsLoggedIn}}
                                &nbsp;&nbsp; <a href="/admin/posts/form?id={{.ID}}" title="编辑"><i
                                        class="fa fa-pencil"></i></a>
                                &nbsp;&nbsp; <a href="#" data-id="{{.ID}}" class="j-delete" title=" 删除"><i
                                        class="fa fa-trash"></i></a>
                                {{end}}
                                {{range .Tags}}
                                {{if ne . ""}}
                                <a class="tag tag-posts" href="/tags/{{.}}">{{.}}</a>
                                {{end}}
                                {{ end }}
                            </p>
                        </header>
                        <div class="post-description">
                            <p>
                                {{MarkdownToHTML .Summary }}
                            </p>
                        </div>
                    </section>
                    {{ end }}
                </div>

                <div class="posts">
                    <h1 class="content-subhead">Recent Posts</h1>
                    {{ range .Data.posts }}
                    <section class="post">
                        <header class="post-header">
                            <h2 class="post-title"><a href="/posts/{{.ID}}">{{ .Title }}</a></h2>
                            <p class="post-meta">
                                {{.CreatedAt}}
                                {{if $.IsLoggedIn}}
                                &nbsp;&nbsp; <a href="/admin/posts/form?id={{.ID}}" title="编辑"><i
                                        class="fa fa-pencil"></i></a>
                                &nbsp;&nbsp; <a href="#" data-id="{{.ID}}" class="j-delete" title=" 删除"><i
                                        class="fa fa-trash"></i></a>
                                {{end}}
                                {{range .Tags}}
                                {{if ne . ""}}
                                <a class="tag tag-posts" href="/tags/{{.}}">{{.}}</a>
                                {{end}}
                                {{ end }}
                            </p>
                        </header>

                        <div class="post-description">
                            {{ if eq 1 2}}
                            <div class="post-images pure-g">
                                <div class="pure-u-1 pure-u-md-1-1">
                                    <a href="#">
                                        <img alt="{{.Title}}" class="title-pic" src="PIC_URL">
                                    </a>
                                    <div class="post-image-meta">
                                        <h3>{{.Title}}</h3>
                                    </div>
                                </div>
                            </div>
                            {{ end }}
                            <div class="fmt">
                                {{MarkdownToHTML .Summary }}
                            </div>
                        </div>
                    </section>
                    {{ end }}

                    <div class="box-footer clearfix">
                        {{.Data.page}}
                    </div>
                </div>

                <div class="footer">
                    {{template "crude/_footer.html" .}}
                </div>
            </div>
        </div>
    </div>
    {{if .IsLoggedIn}}
    <script>
        $(function () {
            $('.j-delete').on('click', function (e) {
                if (!confirm('确定删除?')) {
                    return false;
                }
                let that = this;
                let id = $(this).data('id');
                $.ajax({
                    url: '/admin/posts/' + id,
                    type: 'DELETE',
                    success: function (res) {
                        if (!res.success) {
                            alert('操作失败:' + res.error.message);
                        } else {
                            // <section class="post">
                            $(that).parent().find('section[class=post]').remove();
                            location.reload();
                        }
                    }
                });
                return false;
            });
        });
    </script>
    {{end}}
</body>

</html>
{{ end }}