{{ define "crude/index.html" }}
<!doctype html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ .Description }}">
    <title>{{ .Title }}</title>
    <link rel="stylesheet" href="/public/crude/css/pure-min.css">
    <link rel="stylesheet" href="/public/crude/css/grids-responsive-min.css">
    <link rel="stylesheet" href="/public/crude/css/style.css">
    <link rel="stylesheet" href="/public/crude/css/pagination.css">
    <link rel="stylesheet" href="/public/crude/css/fmt.css">
    <script src="/public/crude/js/pagination.js"></script>
</head>
<body>

<div id="layout" class="pure-g">
    <div class="sidebar pure-u-1 pure-u-md-1-4">
        <div class="header">
            <h1 class="brand-title">{{ .Site.Name }}</h1>
            <h2 class="brand-tagline">{{ .Site.Description }}</h2>

            <nav class="nav">
                <ul class="nav-list">
                    <li class="nav-item">
                        <a class="pure-button" href="{{ .Site.Domain }}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="pure-button" href="{{ .Site.Domain }}/articles">Article</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

    <div class="content pure-u-1 pure-u-md-3-4">
        <div>
            <!-- A wrapper for all the blog posts -->
            <div class="posts">
                <h1 class="content-subhead">Pinned Post</h1>

                <!-- A single blog post -->
                <section class="post">
                    <header class="post-header">
                        <h2 class="post-title">置顶的东东</h2>
                        <p class="post-meta">
                            2021-04-10 14:27:00 <a class="post-category post-category-design" href="#">TagA</a> <a class="post-category post-category-pure" href="#">TagB</a>
                        </p>
                    </header>

                    <div class="post-description">
                        <p>
                            这里是一篇置顶的信息，不过现在还什么都没有。
                        </p>
                    </div>
                </section>
            </div>

            <div class="posts">
                <h1 class="content-subhead">Recent Posts</h1>
                {{ range .Data.posts }}
                <section class="post">
                    <header class="post-header">
                        <h2 class="post-title">{{ .Title }}</h2>
                        <p class="post-meta">
                            {{.CreatedAt}} {{range .Tags}}<a class="post-category post-category-pure" href="/tags/{{.}}">{{.}}</a>{{ end }}
                        </p>
                    </header>

                    <div class="post-description">
                        {{ if eq 1 2}}
                        <div class="post-images pure-g">
                            <div class="pure-u-1 pure-u-md-1-1">
                                <a href="#">
                                    <img alt="{{.Title}}" class="title-pic" src="PIC_URL">
                                </a>
                                <div class="post-image-meta">
                                    <h3>{{.Title}}</h3>
                                </div>
                            </div>
                        </div>
                        {{ end }}
                        <div class="fmt">
                            {{MarkdownToHTML .Content }}
                        </div>
                    </div>
                </section>
                {{ end }}

                <ui-pagination total="100" current="2"></ui-pagination>
            </div>


            <div class="footer">
                <div class="pure-menu pure-menu-horizontal">
                    <ul>
                        <li class="pure-menu-item"><a href="{{.Site.Domain}}/pages/about" class="pure-menu-link">About</a></li>
                        <li class="pure-menu-item"><a href="{{.Site.Domain}}/pages/link" class="pure-menu-link">Link</a></li>
                        <li class="pure-menu-item"><a href="{{.Site.Domain}}/pages/other" class="pure-menu-link">Other</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
{{ end }}